@{
    /**/

    ViewBag.Title = "Contact";
}
<h2 style="font-family:Georgia, 'Times New Roman', Times, serif;color:white; text-align:center;">@ViewBag.Title.</h2>
<h3 style="font-family:Georgia, 'Times New Roman', Times, serif;color:white; text-align:center;">@ViewBag.Message</h3>




<address style="font-family:Georgia, 'Times New Roman', Times, serif;
        color:white;
        text-align: center;
        color: black;
        opacity: 0.6;
        filter: alpha(opacity=60);
        background-color: #ffffff;">

    The 70 Pond Rd<br />
    North York,ON<br />

    <abbr title="Phone">P:</abbr>
    238 736 2889
</address>

<address style="font-family:Georgia, 'Times New Roman', Times, serif;
        color:white;
        text-align: center;
        color: black;
        opacity: 0.6;
        filter: alpha(opacity=60);
        background-color: #ffffff;">
    <strong>School email:</strong>   <a href="mailto:Support@example.com">sphiri@myseneca.ca</a><br />
    <strong>Private email:</strong> <a href="mailto:Marketing@example.com">ShannilPhiri@yahoo.com</a>
</address>