@{
    ViewBag.Title = "Home Page";
}
<style>
    .row {
        color: white;
        opacity: 01;
    }

    .panel-heading {
        opacity: 02;
        text-align: center;
        color: black;
        
        opacity: 0.6;
        filter: alpha(opacity=60);
        background-color: #ffffff;
    }
</style>


<br />
<br />
<br />

<div class=" panel-heading">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://my.senecacollege.ca/bbcswebdav/pid-8547597-dt-content-rid-26800173_2/xid-26800173_2" class="btn btn-default">Learn more &raquo;</a></p>
</div>
<br />
<br />
<br />
<br /><br />
<br /><br />
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>

        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>

        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>

        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>
