@{
    ViewBag.Title = "About";
}
<h2 style="color:white;
    text-align:center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: black;
    opacity: 0.6;
    filter: alpha(opacity=60);
    background-color: #ffffff;">@ViewBag.Title.</h2>






<p style="color:white;
text-align:center;
font-family:Georgia, 'Times New Roman', Times, serif;
 color: black;
 opacity: 0.6;
 filter: alpha(opacity=60);
background-color: #ffffff;"><span>My name is Shannil Phiri currently in Summer2019 semester and this is my Assignment 4 of WEB524 in which we use the navigation properties in a view model class to recieve data from another view model class..</span></p>

