@{
    ViewBag.Title = "Home Page";
}
<style>
    .row {
        color: white;
        opacity: 01;
    }

    .panel-heading {
        opacity: 02;
        text-align: center;
        color: black;
        opacity: 0.6;
        filter: alpha(opacity=60);
        background-color: #ffffff;
    }
</style>


<br />
<br />
<br />

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">This is WEB524 Assignment 4 using a navigation property from one view to another. As well as implementing the .Include() and flattening methods.</p>
    <p><a href="https://s3.us-east-1.amazonaws.com/learn-us-east-1-prod-fleet01-xythos/5c082fb7a0cdb/8770365?response-content-disposition=inline%3B%20filename%2A%3DUTF-8%27%27Assignment%25204.pdf&response-content-type=application%2Fpdf&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20190213T221454Z&X-Amz-SignedHeaders=host&X-Amz-Expires=21600&X-Amz-Credential=AKIAIBGJ7RCS23L3LEJQ%2F20190213%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Signature=f9572575261d0eda45cc5c3cfe8b6e527c08219d59cc40a0543b3818ab17c19c" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>

        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>

        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>

        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>